.container {
    max-width: 1296px;
    margin: 0 auto;
}
h1 a {
    width: 80px;
    height: 49px;
    background-image: url(/image/logoGlass.png);
    background-repeat: no-repeat;
    text-indent:101%; /*首行縮排*/
    overflow:hidden; /*自動隱藏超出的文字或圖片*/
    white-space:nowrap; /*希望元素在第一排上面，沒有斷行*/
}
.header {
    padding: 12px 0;
    background-color: #AA0601;
    .nav {
        display: flex;
        justify-content: space-between;
    }
    .navList {
        display: flex;
        align-items: center;
        a {
            color:#FFFFFF;
            font-size: 20px;
            &:hover {
                color: gray;
            }
        }
    }
}
/* navRWD*/
@include pad {
    .header {
        padding: 12px 36px;
    }
}
@include mobile {
    .header {
        padding: 0;
    }
    .nav {
        flex-direction: column;
        align-items: center;
        h1 {
            padding: 16px 0;
        }
    }
    .navList {
        width: 100%;
        flex-wrap: wrap;
        li {
            width: 50%;
            border: 1px solid #FFFFFF;
            padding: 12px 0;
        }
        a {
            text-align: center;
            font-size: 16px;
            padding-right: 0px;
        }
    }
}

.banner {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-size: cover;
    background-position: center center;
    color:#650300;
    .bannerContent {
        padding: 296px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
            font-size: 36px;
        }
        a {
            width: 104px;
            font-size: 20px;
            color: #FFFFFF;
            padding: 6px 12px;
            background-color: #AA0601;
        }
    }
}
/*bannerRWD*/
@include pad {
    .banner {
        padding: 0 36px;
    }
}
@include mobile {
    .banner {
        padding: 0 14px;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
        .bannerContent {
            h2 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

.advantage {
    background-color: #FBF2F2;
    padding: 80px 0;
    img {
        width: 84px;
        height: 84px;
    }
    .advantageList {
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25%;
            padding-right: 24px;
        }
        .noPadding {
            padding-right: 0;
        }
    }
}
/*advantage RWD*/
@include pad {
    .advantage {
        padding: 80px 36px;
        .advantageList {
            margin-right: 0;
            li {
                width: 50%;
            }
        }
    }
}
@include mobile {
    .advantage {
        padding: 40px 14px;
        h3 {
            font-size: 24px;
        }
        .advantageList {
            li {
                padding-right: 0;
                width: 100%;
            }
        }
    }
}

.category {
    padding: 80px 0;
    .categoryList {
        display: flex;
        justify-content: space-between;
    }
}
/*category RWD*/
@include pad {
    .category {
        padding: 80px 36px;
        .categoryList {
            flex-direction: column;
            align-items: center;
            li {
                padding-right: 0;
                padding-bottom: 24px;
                width: 50%;
            }
            .pb0 {
                padding-bottom: 0;
            }
        }
    }
}
@include mobile {
    .category {
        padding: 40px 14px;
        >h3 {
            font-size: 24px;
        }
        .categoryList {
            li {
                width: 100%;
            }
        }
    }
}

.cobranding {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 80px 0;
    .textWhite {
        color: #FFFFFF;
    }
    a {
        background-color: #FFFFFF;
        h3:hover {
            transform: rotate(15deg);
        }
    }
    .brandList {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 50%;
            padding-bottom: 24px;
        }
    }
}
/* cobranding RWD*/
@include pad {
    .cobranding {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
        padding: 80px 36px;
        .brandList {
            li {
                width: 100%;
            }
            .pb0 {
                padding-bottom: 0;
            }
        }
    }
}
@include mobile {
    .cobranding {
        padding: 40px 14px;
        .text-s {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }
}

.recommend {
    padding: 80px 0;
    .recommendCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        span {
            font-weight: 500;
        }
        li {
            width: 24%;
            border: 1px solid #DEE2E6;
            border-radius: 4px;
        }
    }
    .content {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .date p {
        font-size: 14px;
    }
}
/* recommend RWD */
@include pad {
    .recommend {
        padding: 80px 36px 56px 36px;
        .recommendCard {
            li {
                width: 48%;
                margin-bottom: 24px;
            }
        }
    }
}
@include mobile {
    .recommend {
        padding:40px 14px 24px 14px;
        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }
        .recommendCard {
            li {
                width: 100%;
                margin-bottom: 16px;
            }
        }
    }
}

.contactForm {
    background-color: #FBF2F2;
    padding:80px 0;
    .form {
        width: 50%;
        margin: 0 auto;
        input {
            width: 100%;
            padding: 6px 12px;
        }
        .textarea {
            height: 136px;
        }
    }
    .checkbox {
        display: flex;
        .check {
            width: 24px;
            height: 24px;
            margin-right: 4px;
        }
    }
    .sendForm {
        width: 66.66%;
        margin: 0 auto;
        color: #FFFFFF;
        background-color: #AA0601;
        padding: 16px 0;
        text-align: center;
    }
}
/* form RWD */
@include pad {
    .contactForm {
        padding: 80px 36px;
        h3 {
            margin-bottom: 24px;
        }
        .form {
            width: 83.33%;
        }
    }
}
@include mobile {
    .contactForm {
        padding: 40px 14px;
        h3 {
            font-size: 24px;
        }
        .form {
            width: 100%;
        }
        .sendForm {
            width: 100%;
        }
        .checkbox {
            margin-bottom: 24px;
        }
    }
}

.footer {
    padding: 48px 0 32px 0;
    background-color: #AA0601;
    a {
        color: #FFFFFF;
    }
    img {
        width: 48px;
        height: 48px;
    }
    .footerBar {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #FFFFFF;
    }
    .barList {
        display: flex;
        margin-bottom: 36px;
        li {
            padding-right: 48px;
        }
    }
    .mediaList {
        display: flex;
    }
    .contactContent {
        li {
            display: flex;
            font-size: 36px;
            align-items: center;
        }
    }
    .material-symbols-outlined {
        font-size: 36px;
        color:#FFFFFF;
        margin-right: 20px;
    }
    .copyright {
        color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
        }
        a {
            font-size: 14px;
        }
    }
}
/* footer RWD */
@include pad {
    .footer {
        padding: 48px 36px 40px 36px;
        .mediaList {
            li {
                padding-right: 16px;
            }
            .logoLine {
                padding-right: 0;
            }
        }
        .barList {
            .pr0 {
                padding-right: 0;
            }
        }
    }
}
@include mobile {
    .footer {
        padding: 24px 14px 16px 14px;
        img {
            width: 24px;
            height: 24px;
        }
        .barList {
            display: none;
        }
        .contactContent {
            margin-bottom: 16px;
            li {
                font-size: 16px;
            }
        }
        .material-symbols-outlined {
            font-size: 16px;
            margin-right: 10px;
        }
        .copyright {
            flex-direction: column;
            align-items: flex-start;
            p {
                margin-bottom: 8px;
            }
            ul {
                flex-direction: column;
            }
            li {
                padding-bottom: 8px;
            }
        }
    }
}